<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /connecto2o/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ /connecto2o/index.php/$1 [L]
</IfModule>